@font-face {
	font-family: Overpass;
	src: url("http://overpass-30e2.kxcdn.com/overpass.css");
	font-style: regular;
	font-weight: normal;
}

.full {
	
	background-color: #eeeeee;
	width: 600px;
	border-radius: 4px;
	padding: 10px;
	margin: auto auto auto auto;
	box-shadow: 10px 10px 10px 10px #696969;
	
	
}
.content {
	font-family: Overpass, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	position: relative;
	z-index: 20;
	
}

h1{
	font-family: Overpass,  Helvetica, sans-serif;
	font-size: 50px;
	font-style: bold;
	text-align: center;
	margin-bottom: auto;
	
}
.list li{
	
	list-style: none;
	text-align: center;
	padding:10px 0 0px 0;
	border-bottom:1px solid white;
	
	
}
.list li:hover{
	background-color: #d3d3d3;
	transition: background-color .30s ease 0s;
}

.list li div{
	
	padding-right: 10px;
}
.bottom{
	
	font-family: Overpass,  Helvetica, sans-serif;
	font-weight: light;
	text-align: left;	
	position: relative;
	z-index: 5;
}